#b1
{
position:absolute;
left:330px;
top:80px;}

#b2
{
position:absolute;
left:330px;
top:110px;}

#b3
{
position:absolute;
left:330px;
top:140px;}

#b4
{
position:absolute;
left:330px;
top:170px;}

#b5
{
position:absolute;
left:330px;
top:210px;}

#b6
{
position:absolute;
left:330px;
top:250px;}

#b7
{
position:absolute;
left:330px;
top:285px;}